html {
  height: 100%;
}

body {
  background-color: #666;
  height: 100%;
  margin: 0px;
}

.twoColumnLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.column {
  padding: 10px 20px;
}

.configurationColumn {
  background-color: #fff;
}

.howToColumn {
  background-color: #eee;
}

.configuration {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  padding: 0.5ex;
  white-space: pre;
  width: 100%;
  height: 75vh;
}

.saveArea {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#saveButton {
  height: 28px;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 700;
}

#savedMessage {
  color: green;
}
